@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --light-bg: radial-gradient(#fff, #e2e2e2);
  --light-text: #000;
  --light-nav-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  --dark-bg: #222;
  --dark-text: #fff;
  --box-width: 7em;
  --head-width: 5em;
  --head-height: 5em;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--light-bg);
}

body nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  -webkit-box-shadow: var(--light-nav-shadow);
          box-shadow: var(--light-nav-shadow);
}

body nav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 1em;
}

body nav .title h1 {
  letter-spacing: 0.2rem;
  color: var(--light-text);
}

body nav .title h1 span {
  color: #f7df57;
  -webkit-animation: titleColor 5s infinite linear forwards;
          animation: titleColor 5s infinite linear forwards;
}

body nav .title .color-switch {
  position: relative;
  width: 2em;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body nav .title .color-switch:hover {
  background-color: #fff;
}

body nav .title .color-switch i {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-size: 18px;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: circle;
  gap: 0.5em;
}

body nav ul li {
  width: 7em;
  height: 70%;
  border-radius: 0.7rem;
}

body nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: var(--light-text);
  border-radius: 0.5rem;
}

body nav ul li a:hover {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body nav .menu-btn {
  height: 70%;
  font-size: 22px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

body main {
  margin: 1em 0;
  min-height: 50vh;
  width: calc(100vw - 15em);
}

body main p {
  letter-spacing: 0.12rem;
}

body footer {
  background-color: #fff;
  gap: 2em;
  width: 100vw;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  bottom: 0;
}

body footer p {
  font-size: 1.2em;
}

body footer .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .github a {
  color: #000;
}

body footer .github a:hover {
  background-color: #000;
  color: #fff;
}

body .sidebar {
  position: fixed;
  left: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  border-radius: 0.5em;
  padding: 0.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .sidebar.show {
  opacity: 1;
  pointer-events: auto;
}

body .sidebar ul {
  list-style: none;
}

body .sidebar ul li {
  margin: 1em 0;
}

body .sidebar ul li a {
  color: #575757;
  font-size: 1.6rem;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

body .sidebar ul li a:hover i {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

body.home {
  position: relative;
}

body.home header {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.home header section {
  width: calc(100% - 15em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

body.home header section .carousel {
  width: calc(100% / 2);
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.home header section .carousel .carousel-title h2 {
  font-size: 1.5em;
}

body.home header section .carousel .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  overflow: hidden;
}

body.home header section .carousel .img img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.home header section .carousel i {
  position: absolute;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body.home header section .carousel i:hover {
  background-color: #cecece;
}

body.home header section .carousel i.left-btn {
  left: 0em;
}

body.home header section .carousel i.right-btn {
  right: 0em;
}

body.home header section .carousel .carousel-manually {
  margin-top: 1em;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.home header section .carousel .carousel-manually ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 1em;
}

body.home header section .carousel .carousel-manually ul li {
  border: 1px solid #222;
  border-radius: 5em;
  width: 1.5em;
  height: 0.5em;
  cursor: pointer;
}

body.home header section .carousel .carousel-manually ul li.select {
  background-color: #000;
}

body.home header section .intro {
  width: calc(100% / 2);
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body.home header section .intro .content {
  width: 100%;
  letter-spacing: 0.2rem;
}

body.home header section .intro .content h4 {
  margin-bottom: 1rem;
}

body.home header section .intro .content h4 span {
  text-decoration: underline;
}

body.home header section .intro .box {
  width: var(--box-width);
  height: var(--box-width);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-perspective: 50em;
          perspective: 50em;
  margin-top: 30vh;
}

body.home header section .intro .box .top,
body.home header section .intro .box .bottom,
body.home header section .intro .box .left,
body.home header section .intro .box .right,
body.home header section .intro .box .front,
body.home header section .intro .box .back {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: var(--dark-bg);
}

body.home header section .intro .box .top {
  -webkit-transform: rotateX(90deg) translateZ(calc(var(--box-width) / 2));
          transform: rotateX(90deg) translateZ(calc(var(--box-width) / 2));
}

body.home header section .intro .box .bottom {
  -webkit-transform: rotateX(270deg) translateZ(calc(var(--box-width) / 2));
          transform: rotateX(270deg) translateZ(calc(var(--box-width) / 2));
}

body.home header section .intro .box .front {
  -webkit-transform: rotateY(0deg) translateZ(calc(var(--box-width) / 2));
          transform: rotateY(0deg) translateZ(calc(var(--box-width) / 2));
}

body.home header section .intro .box .back {
  -webkit-transform: rotateY(180deg) translateZ(calc(var(--box-width) / 2));
          transform: rotateY(180deg) translateZ(calc(var(--box-width) / 2));
}

body.home header section .intro .box .left {
  -webkit-transform: rotateY(90deg) translateZ(calc(var(--box-width) / 2));
          transform: rotateY(90deg) translateZ(calc(var(--box-width) / 2));
}

body.home header section .intro .box .right {
  -webkit-transform: rotateY(270deg) translateZ(calc(var(--box-width) / 2));
          transform: rotateY(270deg) translateZ(calc(var(--box-width) / 2));
}

body.home header section .intro:before {
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.15em;
  background-color: var(--dark-bg);
}

body.home header section .intro:hover .box {
  -webkit-animation: boxRotate 5s 1 forwards;
          animation: boxRotate 5s 1 forwards;
}

body.home header section .intro:hover:before {
  width: 100%;
}

body.home main {
  width: calc(100vw - 15em);
  background-color: #fff;
}

body.home main section {
  width: 100%;
  padding: 0 1em;
  background-color: #fff;
}

body.home main section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2rem;
  padding: 1em 0;
  padding-left: 1em;
  gap: 0.5em;
}

body.home main section .title h1 {
  font-size: 1.7rem;
}

body.home main section article {
  width: 100%;
  height: 12em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

body.home main section article:nth-of-type(1) {
  border-top: 1px solid #000;
}

body.home main section article:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  background-color: #e5e6e7;
}

body.home main section article a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--light-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

body.home main section article a .img {
  margin: 0 1em;
}

body.home main section article a .img img {
  width: 6em;
  aspect-ratio: 1/1;
  border-radius: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
}

body.home main section article a .content {
  padding: 1em;
}

body.home .block {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-image: url(./img/pikachu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  pointer-events: none;
  z-index: 5;
}

body.home .block:before {
  position: absolute;
  content: 'PikaChu';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
  font-weight: 800;
  width: 30vw;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15%;
  border: 2px solid #000;
  border-radius: 0.5em;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.home .pagination {
  width: calc(100vw - 15em);
  margin-bottom: 1em;
}

body.home .pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  list-style: none;
}

body.home .pagination ul li {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 1.5em;
  padding: 0.1em;
  text-align: center;
  font-size: 1rem;
}

body.home .pagination ul li i {
  pointer-events: none;
}

body.home .pagination ul li.active {
  color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body.home .pagination ul li.hide {
  pointer-events: none;
  opacity: 0;
}

body.article header {
  width: 100vw;
}

body.article main {
  min-height: 100vh;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.article main span {
  color: #3579b9;
}

body.article main img {
  width: 10em;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.5);
  margin-right: 3em;
}

body.article main img.cat {
  width: 20em;
  height: 15em;
}

body.article div.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body.roadmap header {
  width: 100vw;
  height: 5em;
}

body.roadmap main {
  min-height: 100vh;
  width: 50vw;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.roadmap main .title {
  margin: 1.5em 0;
  text-align: center;
}

body.roadmap main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

body.roadmap main ul li {
  height: 10em;
  padding: 1em;
  list-style-image: url("./img/map-regular-24.png");
  font-size: 1.2rem;
}

body.roadmap main h3 {
  color: #22568e;
}

body.projects header {
  width: 100vw;
  height: 5em;
}

body.projects main {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

body.projects main .title {
  margin: 1.5em 0;
}

body.projects main ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

body.projects main ul li {
  width: 80%;
  height: 12em;
  background-color: #fff;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  list-style: none;
}

body.projects main ul li:hover {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
  background-color: #eee;
}

body.projects main ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  gap: 2em;
  color: #000;
  text-decoration: none;
}

body.projects main ul li a .img {
  min-width: 10em;
  max-width: 10em;
  aspect-ratio: 1.3/1;
  overflow: hidden;
}

body.projects main ul li a .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body.projects main ul li a .text h2 {
  margin: 0.5em 0;
  letter-spacing: 0.2rem;
}

@-webkit-keyframes titleColor {
  25% {
    color: #5789b3;
  }
  50% {
    color: #c9c9c9;
  }
}

@keyframes titleColor {
  25% {
    color: #5789b3;
  }
  50% {
    color: #c9c9c9;
  }
}

@-webkit-keyframes boxRotate {
  25% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    left: 25%;
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    left: 45%;
  }
  75% {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
    left: 60%;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    left: 75%;
  }
}

@keyframes boxRotate {
  25% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    left: 25%;
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    left: 45%;
  }
  75% {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
    left: 60%;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    left: 75%;
  }
}

@-webkit-keyframes articleDot {
  from {
    width: 0;
  }
}

@keyframes articleDot {
  from {
    width: 0;
  }
}

@media screen and (max-width: 900px) {
  body header nav ul {
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    height: 100%;
    width: 0;
    overflow: hidden;
    position: fixed;
    background-color: #ddd;
    padding: 1em 0;
    z-index: 10;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
  }
  body header nav ul li {
    height: 5em;
  }
  body header nav ul.active {
    width: 10em;
  }
  body header nav .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header nav .menu-btn i {
    pointer-events: none;
  }
  body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    gap: 0;
  }
  body.home header {
    height: auto;
  }
  body.home header section {
    margin-top: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  body.home header section .carousel-title h2 {
    width: 100vw;
    text-align: center;
  }
  body.home header section .intro {
    width: 90%;
  }
  body.home main {
    width: 90vw;
  }
  body.home main article a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
  }
  body.home main article a .content {
    text-align: center;
  }
  body.home .block:before {
    height: auto;
  }
  body.article nav .title {
    font-size: 12px;
  }
  body.article main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  body.article main .img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-right: 0;
    gap: 0;
  }
  body.article main .img div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body.article main img {
    margin: 1em 0;
  }
  body.article main img.path {
    width: 6em;
  }
  body.article main img.job {
    width: 15em;
  }
  body.article main img.cat {
    width: 20em;
    height: 15em;
  }
  body.roadmap main {
    width: 80vw;
  }
  body.roadmap main .title {
    width: 90vw;
    font-size: 0.8rem;
  }
  body.projects main .title {
    width: 90vw;
    font-size: 0.8rem;
    text-align: center;
  }
  body.projects main ul li {
    width: 90vw;
    height: auto;
  }
  body.projects main ul li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.projects main ul li a .img {
    height: 8em;
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */